body {
    display: flex;
    margin: 0;
    font-family: Candara, sans-serif;
}
header {
    background-color: #ddd;
    color: black;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  header img {
    height: 90px;
    vertical-align: middle;
  }
  header h1 {
    display: inline;
    margin-left: 20px;
    text-align: center;
  }
.container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 250px;
    max-width: 100%; 
    margin-top: 20px; 
}
#logo1 {
    width: 100px;
    height: 100px;
    padding-block: 20px;
    
  }
  #title1 {
    width: 200px;
    height: 20px;
    text-align: center;
    padding-block: 10px;
    font-size: 30px;
    font-weight: bold;
  }
  .sidebar {
    width: 200px;
    background: #333;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    background: #555;
    border-radius: 5px;
}

.sidebar a:hover {
    background: #777;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    overflow: auto;
    padding-top: 100px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 8px;
    position: relative;
    max-width: 500px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type=text], select {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}


#catalogoAlbero ul {
    padding-left: 20px;
    list-style-type: none;
}

#catalogoAlbero li {
    margin: 6px 0;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    align-items: baseline;
    justify-items: center;
    transition: background 0.3s;
}

#catalogoAlbero li:hover {
    background: #eef6ff;
}

.catalogo-voce {
    flex-grow: 1;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    
}

.bottoni-azione {
    display: flex;
    gap: 8px;
}

.bottoni-azione button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s;
}

.bottoni-azione button:hover {
    transform: scale(1.2);
}

.bottoni-azione .modifica {
    color: #3498db;
}

.bottoni-azione .elimina {
    color: #e74c3c;
}
